.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.subTitle {
  color: var(--btn);
}

.title {
  font-size: 3.375rem;
}

.description {
  font-size: 1.25rem;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--btn);
}

.imgContain {
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
  }
}
