.filter {
  display: flex;
  justify-content: space-between;
  margin-block-end: 30px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: var(--bgSoft);
}

/* .table tr:hover {
  background-color: var(--bg);
} */

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--bg);
  color: white;
}

.search {
  padding: 10px;
  width: 20%;
}
